@import url('../public/vendor/font-awesome/css/all.min.css');
@import url('../public/vendor/bootstrap-icons/bootstrap-icons.css');
@import url('../public/vendor/choices/css/choices.min.css');
@import url('../public/vendor/tiny-slider/tiny-slider.css');
@import url('../public/vendor/glightbox/css/glightbox.css');
@import url('../public/vendor/aos/aos.css');
@import url('../public/vendor/apexcharts/css/apexcharts.css');
@import url('../public/vendor/quill/css/quill.snow.css');
@import url('../public/style-rtl.css');


@tailwind components;
@tailwind utilities;

* {
  direction: rtl !important;
}

.recentSlider:hover .nextBtn {
  right: 0;
}
.recentSlider:hover .pervBtn {
  left: 0;
}

.recentSlider button {
  color: white;
  margin: 0.5rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  aspect-ratio: 1/1;
  border: transparent;
  padding: 1.2rem;
  border-radius: 50%;
  background: rgba(29, 29, 29, 0.4);
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.5s;
  transform: translateY(-50%);
}
.recentSlider .nextBtn {
  right: -30%;
}
.recentSlider .pervBtn {
  left: -30%;
}

@media (min-width: 540px) {
  .sm-shadow {
    box-shadow: var(--bs-box-shadow) !important;
  }
}
/* @font-face {
  font-family: Kalameh;
  src: url('../public/fonts/kalame/Kalameh_thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
 */

/* @font-face {
  font-family: Kalameh;
  src: url('../public/fonts/kalame/Kalameh_Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Kalameh;
  src: url('../public/fonts/kalame/Kalameh_Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Kalameh;
  src: url('../public/fonts/kalame/Kalameh_Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */
